.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.image_container {
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
}
.image {
  overflow: visible;
  min-width: 200px;
}
.name {
  font-size: 16px;
  font-weight: 600;
  max-width: 200px;
  white-space: normal;
}
.prize {
  font-size: 14px;
  font-weight: 600;
}
.desctiption {
  width: 200px;
  display: none;
}
