.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.image_container {
  /*border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;*/
  overflow: hidden;
  position: relative;
  /* transition: border-top-left-radius 0.3s, border-bottom-right-radius 0.3s; */
}
/*
.image_container:hover {
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
}*/
.image {
  overflow: visible;
  min-width: 200px;
}
.name {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 600;
  max-width: 200px;
  white-space: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}
.prize {
  font-size: 24px;
  font-weight: 600;
  /*height: 200px;*/
}
.desctiption {
  width: 200px;
  position: absolute;
  color: white;
  padding: 24px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.416);
  backdrop-filter: blur(1px);
}

/*SIMPLE MENU*/
.container_simple {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 24px;
}
.name_des {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.prize_simple {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}
.name_simple {
  font-weight: 600;
  display: flex;
  gap: 8px;
  white-space: nowrap;
}
.desctiption_simple {
  width: 260px;
  font-weight: 500;
  color: #9e9e9e;
  font-size: 14px;
}

.available {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  color: #9e9e9e;

  
}
.circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #00e676;
}

.circle_red {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #ff1744;
}
