.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
  padding: 16px;
}
.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #000000;
  max-width: 480px;
  width: 100%;
}
.label {
  font-size: 12px;
  color: rgb(81, 81, 81);
}
.input {
  border: 1px solid #000000;
  color: black;
  padding: 8px;
}
.input::placeholder {
  color: black;
  opacity: 1;
}
.button {
  background-color: black;
  color: white;
  font-size: 14px;
  max-width: 160px;
  padding: 8px;
}
.label:focus,
.input:focus {
  outline: none;
}
.title {
  text-align: left;
  align-items: baseline;
  padding: 16px;
}

.delete_input {
  display: none;
  visibility: hidden;
}
